@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.values {
  padding: 64px 0 90px;

  &__content {
    margin-bottom: 24px;

    p {
      max-width: 768px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 24px;
    gap: 24px;
  }

  &__desc {
    overflow: hidden;
    border-radius: var(--radius-main);
    padding: 24px 46px;
    background-color: var(--color-brown-300);

    p {
      font-weight: var(--fw-400);
      font-size: clamp(1.125rem, 1.0833rem + 0.1852vi, 1.25rem);
      line-height: 1.2;
    }
  }

  li {
    overflow: hidden;
    border-radius: var(--radius-main);
    padding: 8px 10px;
    background-color: var(--color-gray-100);

    p {
      font-weight: var(--fw-400);
      font-size: 17px;
      line-height: 1.5;
    }
  }

  span {
    font-weight: var(--fw-700);
    font-size: 17px;
    line-height: 1.5;
    color: var(--color-gray-300);
  }
}
